/.vscode
/Assembly-CSharp.csproj
/Library
/Logs
/Packages
/ProjectSettings
/SpaceShooter pro.sln
/UserSettings
Assets/matherial/New Material 1.mat
Assets/matherial/New Material 1.mat.meta
Assets/Prefab/Capsule.prefab
Assets/Prefab/Capsule.prefab.meta
Assets/Scenes/SampleScene.unity
Assets/Scripts/Player.cs
Assets/Scenes/SampleScene.unity
Assets/Sprites/Scripts.meta
Assets/Sprites/Scripts/Lazer.cs.meta
Assets/Sprites/Scripts/Player.cs.meta
Temp/FSTimeGet-6f2faa7db77e8f24ca08137c5755b601
Temp/FSTimeGet-7edf46d0623168048a3d10442183d9d5
Temp/FSTimeGet-466c93c55ff7d2c4e99ed3d61e8efbd4
Temp/FSTimeGet-978ef77c4b17fb3488cc0d06c83bbf13
Temp/FSTimeGet-6800cec4f78f5d7438f109298ca011e8
Temp/FSTimeGet-a320ddc23ade90445b45dfb34d458703
Temp/FSTimeGet-b857022c3831aeb4bbd91e1455c3e650
Temp/FSTimeGet-bd607cf91fab4c24fb45bb31763ba378
Temp/FSTimeGet-efa8975041c7a7647971b336182f3f70
Temp/UnityLockfile
Temp/workerlic
Temp/__Backupscenes/0.backup
Assets/Scenes/SampleScene.unity
